*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(eyeglass.jpg-shortcut);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    
}
nav ul{
    width:100%;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: darkgray;
}
nav ul :first-child{
    margin-right: auto;
}